# Normalise line endings so a CRLF checkout cannot change what the guards read.
# This applies on check-in of newly staged content only.
* text=auto eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.ttf binary
*.otf binary
# Hashed byte-for-byte by tools/fetch_fonts.sh; upstream's IBM Plex Mono
# licence has CRLF endings, which text=auto would rewrite on checkout (#96).
assets/fonts/OFL-*.txt -text
